---
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import { cn } from "@/utils/lib/utils";
import BaseLayout from "./base-layout.astro";
import { ThemeToggle } from "@/components/theme-toggle";
import { siteConfig } from "@/config/site";
import { MainNavigationMenu } from "@/components/shared/main-navigation-menu";
import { navMenuConfig } from "@/config/nav-menu";
import { SheetMobileNav } from "@/components/layout/sheet-mobile-nav";
import ProfileAvatar from "@/components/shared/top_nav/ProfileAvatar";

type Props = {
  title: string;
  description?: string;
  mainClass?: string;
  publishedTime?: string;
};

const { title, description, mainClass } = Astro.props;

const currentEnv = import.meta.env.ASTRO_ENV || "development";
const clarityId = import.meta.env.CLARITY_ID || "lc6yzoxipb";
const gaId = import.meta.env.GA_ID || "G-MD5HNN6SQS";
---

<BaseLayout title={title} description={description}>
  <script async src={`https://www.googletagmanager.com/gtag/js?id=${gaId}`}
  ></script>
  <script define:vars={{ gaId }}>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", gaId);
  </script>
  <script define:vars={{ clarityId }}>
    // Only load Clarity if we have an ID for the current environment
    if (clarityId) {
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", clarityId);
    }
  </script>
  <Header className="border-b">
    <!-- if using only normals links  -->
    <!-- <MainNav items={marketingConfig.mainNav} slot="left-header" />
    <SheetMobileNav
      mainNavItems={marketingConfig.mainNav}
      slot="mobile-nav-header"
      client:load
    /> -->

    <!-- if use Navigation Menu on desktop -->

    <MainNavigationMenu slot="left-header" client:load />
    <SheetMobileNav
      mainNavItems={[...navMenuConfig.links]}
      sidebarNavItems={[
        ...navMenuConfig.pagesNav,
        ...navMenuConfig.examplesNav,
      ]}
      slot="mobile-nav-header"
      client:load
    />
    <div class="flex items-center gap-x-4" slot="right-header">
      <!-- <ThemeToggle client:load /> -->
      <ProfileAvatar client:load />
    </div>
  </Header>

  <main class={cn(mainClass)}>
    <slot />
  </main>
</BaseLayout>
