---
import { siteConfig } from "@/config/site";
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  image?: string;
  bodyClass?: string;
  ogImage?: string;
  ogType?: string;
  author?: string;
  publishedTime?: string;
}

const canonicalURL = new URL(Astro.url.pathname, siteConfig.url);

const {
  title,
  description = siteConfig.description,
  image = siteConfig.ogImage,
  ogType = "website",
  author,
  publishedTime,
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link
  rel="preload"
  href="/fonts/calsans-semibold.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title ? `${title} | Unisala` : "Unisala"}</title>
<meta name="title" content={title ? `${title} | Unisala` : "Unisala"} />
<meta name="description" content={description} />


<!-- Open Graph / Facebook -->
<meta property="og:type" content={ogType} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title ? `${title} | Unisala` : "Unisala"} />
<meta property="og:description" content={description} />
<meta property="og:image" content={"https://unisala-user.s3.ap-south-1.amazonaws.com/7dc657b0-7173-44a2-a956-eff33cc521dd?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAUVJSKU372LL6T5PV%2F20240719%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20240719T172215Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFUaCmFwLXNvdXRoLTEiRjBEAiAvlmtl0wMzP3qKSpnDajYDMrDsapuu5fPyRACEQjz4qgIgQJgzWk6LNqfrDj2tvzhcIPRAbUwgr%2F7g5gzsdrupI%2FUqvwUILhABGgwzMjA2MTc0OTAxNzUiDJHVqbq8QjzOJpwZSyqcBcE%2FJ3hKupu9NsPYFYbbSo4kpR6ADLQDxFwjBjBuH0UKdck6IdZoRLULXgL%2FsaXR7T0y2jRoSQM87hRVQ95W75RYMjLo0We%2BDRJN%2BSlp0FtFCB6RwFGagynEGpqxZTAL2asw%2FR1I3U9dkARqNmxUNr2R9C3l3W0hO%2BDbszawxAI9oimdqv2XPHsJz0yHQym8pfgtiMu1DpAwSiYZGNDADZYYdt6SKj0%2FQfg16CGSNM%2F%2F4eJCCbCGrb3YOkom%2FNflbNldLNuVZ4JTEjQhE28HTMyoOgrEQyAvlI7YPkTNjX%2BzjVsd0zrydYr5TA%2BLZMAy6vlzRM5cXbsvuzo9if28tO7C0y%2B%2FTMNqOX%2BrEG2x1h0FLCuEusjB56MwdlkPrarlX3En73BHwZx1d56ADeHPmBrslIlxtQem2rA63VW5AEYkVMFttAK8kidfz2IOCJNVl8fD6Bju16gmlXUoP0fWT64JEmq3baymljwpCpz2d9Teq2zy0m3fX%2Fj%2F2i7hdalhOIORsfXV0i1IMN1LCQte8Q49YWzHfuliuWvkO1RPaVUiol2rTgWP%2BsqRbQK%2BHyIC63%2BG5sD%2BpJN2V9gu5KFSl9LdZ9s5KhbUjEpz0wuzE96BMYTPHeXZePZdgybVzHqT0r9wVBYC3tc7nTS4AxsbOhh7tu%2BkwnR75qX7Vw%2FA8eXEpj%2BnyPvL4LnscALDvwgjiREfFIc1cIlBQZEEPc5s2JdkVvvzOSCjpLBPUgJHrAGr5aE3Bly4P805xFSG8CjLN4TxpHBxlfqXcXAKAvl8W1Fp9qo9uACo1XsxHYyDEUxDz7kau%2FMyHre9KGFwYqdHMEMwHmCnB8dVMi3xR3VHfzeiZtK7siHkKOUBC05mxTEX6phvn9TaPPkeK9ygMKbJ6bQGOrIBO5rUEEiW1k6EyKu8ElYWwYzJ0DUXqVZX903ddd4s2mOmA7s%2FScraH6mvO9Z1hZezqMqkWE04Zvcn5YnULtHfwB3fqURx8tEOAA4vDn6BglovmeqW2NKPQUcUoL70Q1XKJDqe%2BUE8UkjPGBVrWBGQSptYRfYAiPjJeev0g6mf7JZ6tCKYFvFb%2FJbUmWrDnF24zjhRsNWMadr%2BA7PbDBlt4DiPGjse9CuIxB7nKmefj6lt1w%3D%3D&X-Amz-Signature=46e02a9c373dd71d62e06870de81b079ce044b378b1b5bebc59fb70143b1c7e9&X-Amz-SignedHeaders=host"} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta property="og:site_name" content={siteConfig.name} />
{author && <meta property="article:author" content={author} />}
{publishedTime && <meta property="article:published_time" content={publishedTime} />}




<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title ? `${title} | Unisala` : "Unisala"} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, siteConfig.url).toString()} />

<!-- Dark mode with prevent flickering flash between navigations -->
<script is:inline>
const setDarkMode = () => {
  const theme = (() => {
    if (
      typeof localStorage !== "undefined" &&
      localStorage.getItem("theme")
    ) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
};

setDarkMode();
document.addEventListener("astro:after-swap", setDarkMode);
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MD5HNN6SQS"></script>
<script  is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MD5HNN6SQS');
</script>
 




<ViewTransitions />