---
import { formatCommentDate } from "@/utils/date";
import { cn } from "@/utils/lib/utils";
import type { HTMLAttributes } from "astro/types";
import { EyeIconOutline } from "../packages/icons/eye";
// import ThreadAction from "@/components/thread/thread.action.astro";

interface Props extends HTMLAttributes<"div"> {
  authorId: string;
  heading: string;
  username: string;
  date: string;
  claps: number;
  comments: number;
  className?: string;
  firstName?: string;
  lastName?: string;
  queryCount?: number;
}
const {
  authorId,
  heading,
  username,
  date,
  claps,
  comments,
  firstName,
  lastName,
  className,
  queryCount,
  ...attrs
} = Astro.props;
---

<div class={cn("space-y-4", className)} {...attrs}>
  <h1 class="font-heading text-4xl mb-4 leading-tight">
    {heading}
  </h1>
  <div class="flex items-center space-x-4 text-sm mb-6">
    <img
      class="mr-2 w-6 h-6 rounded-full"
      src={`https://api.dicebear.com/7.x/adventurer/svg?seed=${firstName}`}
      alt={firstName + " " + lastName}
    />
    <a href={`/signature/${authorId}`} data-astro-reload>
      <span class="font-larget">{firstName} {lastName}</span>
    </a>

    <!-- <span class="font-medium">@{firstName} {lastName}</span> -->
    <!-- <span class="text-green-600 hover:text-green-700 font-large">Follow</span> -->
  </div>
  <div class="flex items-center text-gray-500 text-sm">
    <div>
      {formatCommentDate(date)}
    </div>
    <div class="flex items-center gap-1 ml-8">
      {/* Changed from ml-4 to ml-8 for more space */}
      <EyeIconOutline />
      <span>{queryCount} views</span>
    </div>
  </div>

  <!-- <ThreadAction
    heading={heading}
    username={username}
    date={date}
    claps={claps}
    comments={comments}
    showBorder={true}
  /> -->
</div>
